<f:comment><!--

    Render the ePrivacy Consent Manager

    @param array[] subjects			Subjects by type
    @param Type[] types				Subject types
    @param Consent consent          Current user's consent status

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:eprivacy="http://typo3.org/ns/Tollwerk/tw_eprivacy/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:render partial="Elements/Consent/Manager" arguments="{_all}"/>

    <eprivacy:consent identifier="{0: 'eprivacy.consent', 1: 'google.analytics.ga'}">
        <f:then>Google Analytics is allowed</f:then>
        <f:else>Google Analytics is not allowed</f:else>
    </eprivacy:consent>

    <button type="button" onclick="var date=new Date();date.setTime(date.getTime() + 24*60*60*1000);document.cookie='test=valid; expires='+date.toUTCString()+'; path=/';window.location.reload(true);">Set cookie &amp; reload</button>
</html>
