<f:comment><!--

    Content needs consent message.

    Show all required cookies.
    Show link to accept the required cookies and another link open to the cookie plugin page.

    @param array  data            Content element data
    @param array  consentItems    Subject identifiers of required cookies for this content

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:eprivacy="http://typo3.org/ns/Tollwerk/tw_eprivacy/ViewHelpers"
      data-namespace-typo3-fluid="true"><f:spaceless>
    <aside class="CookieNeedsConsent">
        <f:comment><!-- Description text --></f:comment>
        <p class="CookieNeedsConsent__text">
            {f:translate(key: 'content.needsConsent.description', arguments: {0: data.header}, extensionName: 'TwEprivacy')}
        </p>

        <f:comment><!-- List of required subjects --></f:comment>
        <f:if condition="{consentItems}">
            <f:comment><!-- Get full subject records --></f:comment>
            <f:variable name="subjects" value="{eprivacy:findSubjectsByName(names: consentItems)}"/>

            <ul class="CookieNeedsConsent__subjects">
                <f:for each="{subjects.byIdentifier}" as="subject">
                    <li class="CookieNeedsConsent__subject">
                        <strong>
                            <f:translate key="content.needsConsent.cookie.title"
                                         arguments="{0: subject.title}"
                                         extensionName="TwEprivacy"/>
                        </strong> {subject.purposeShort}
                    </li>
                </f:for>
            </ul>
        </f:if>

        <f:comment><!-- <f:variable name="pluginPageUrl" value="{f:uri.page(pageUid: settings.pluginPid)}"/>--></f:comment>
        <p class="CookieNeedsConsent__actions">
            <a href="{eprivacy:missingConsent.acceptT3Link(contentUid: data.uid,identifiers: subjects.identifiers)}">{f:translate(key: 'content.needsConsent.link.accept', extensionName: 'TwEprivacy')}</a>
            <a href="{eprivacy:missingConsent.settingsT3Link()}">{f:translate(key: 'content.needsConsent.link.settings', extensionName: 'TwEprivacy')}</a>
        </p>
    </aside>
</f:spaceless></html>


<f:comment><!--
                <a href="{eprivacy:missingConsent.acceptT3Link(contentUid: data.uid,identifiers: subjects.identifiers)}">{f:translate(key: 'content.needsConsent.link.accept', extensionName: 'TwEprivacy')}</a>
                <a href="{eprivacy:missingConsent.settingsT3Link()}">{f:translate(key: 'content.needsConsent.link.settings', extensionName: 'TwEprivacy')}</a>
                --></f:comment>
